﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <br />
    <div style="padding: 5px;">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#mdNewPedido">
            Adicionar Pedido
        </button>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Número</th>
                    <th style="width: 70%">Cliente</th>
                    <th>Valor Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>1500,00</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>100,00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>10,00</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="mdNewPedido" tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Adicionar Pedido</h4>
                </div>
                <div class="modal-body">


                    <label for="basic-url">Cliente</label>
                    <select id="selectClientes" class="form-control">
                        <option value="c1">Cliente 1</option>
                        <option value="c2">Cliente 2</option>
                        <option value="c3">Cliente 3</option>
                        <option value="c4">Cliente 4</option>
                    </select>
                    @*<div class="input-group">
                        
                    </div>*@

                    <br />
                    <div class="">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Qtd.</th>
                                    <th>Valor</th>
                                    <th>Valor Total</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Celular ABC</th>
                                    <td>1</td>
                                    <td>499,00</td>
                                    <td>499,00</td>
                                    <td>
                                        <a href="#" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Chip Celular</th>
                                    <td>1</td>
                                    <td>20,00</td>
                                    <td>20,00</td>
                                    <td>
                                        <a href="#" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">Salvar Pedido</button>
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    $('#selectClientes').select2();
</script>